/* Navigation  */
#navbar{
flex-direction: column;
}

#navbar ul li a{
font-size: 1rem;
padding: 0px;
padding-bottom: 6px;
}


/* Home section  */
#home{
height: 370px;
padding: 3px 68px;

}

#home::before{
height: 480px;

}

#home p{
font-size: 13px;
}


/* Services section  */
#services{
flex-direction: column;
}

#services .box{


display: block;
margin: 2px 6px;
padding: 12px;

}



/* Clients section  */
#clients{
flex-wrap:wrap;
}

#clients img{
width: 70px;
padding: 0px 6px;
height: auto;
}



/*Contact us section  */
#contact-box form{
width:80%;
}


/* footer  */ 



/*  Utility clases  */
.h-primary{
font-size: 25px;
}

.btn{
font-size: 13px;
padding: 4px 8px;
}













