/* CSS reset  */
*{
margin: 0px;
padding: 0px;
}

html{
scroll-behavior: smooth;
}



/* CSS Variables */
:root{
--navbar-height: 59px;
}

/* Navigation Bar  */
#navbar{
display: flex;
align-items: center;
position:sticky; 
top: 0px;
}

/* Navigation Bar : Logo and Image */

#logo{
margin: 10px 0px;
}

#logo img{
height: 100px;
margin: 6px 8px;
}


/*  Navigation Bar : List styling  */
#navbar ul{
display: flex;
}

#navbar::before{
content:"";
background-color: black;
position: absolute;
top: 0px;
left: 0px;
height:100%;
width: 100%;
z-index: -1;
opacity: 0.4;
}

#navbar ul li{
list-style: none;
font-size: 1.3rem;
}

#navbar ul li a{
color: white;
display: block;
padding: 20px 30px;
border-radius: 15px;
text-decoration: none;
font-family: 'Patua One', cursive;
}

#navbar ul li a:hover{
color: black;
background-color: white;
}

/* Home Section  */
#home{
display:flex;
flex-direction:column;
padding: 3px 200px;
height: 480px;
justify-content: center;
align-items:center;
font-family: 'Bree Serif', serif; 
}

#home::before{
content:"";
position: absolute;
top: 0px;
left: 0px;
background: url('https://cdn.pixabay.com/photo/2017/02/15/10/39/salad-2068220_960_720.jpg') no-repeat center center/cover ;
height:100%;
width: 100%;
z-index: -1;
opacity: 0.89;

}

#home h1{
color:black;
text-align: center;
font-family: 'Patua One', cursive;
}

p{
font-size: 20px;
}

/* Services Section */
#services{
margin: 70px auto;
display: flex;
justify-content: center;
align-items: center;
}

#services .box{
border: 2px solid brown;
display: block;
margin: 10px 6px;
padding: 34px;
border-radius:20px;
height: 280px;
width: 355px;
background-color: rgb(239, 237, 229);
}

#services .box img{
height: 150px;
margin: 0px 60px;
display: block;
}

#services .box p{
font-family: 'Patua One', cursive;
font-size: 15px;
}

/*  Clients section  */
#client-section{
height: 350px;
}

#client-section::before{
content:"";
position: absolute;
background: url('https://cdn.pixabay.com/photo/2017/08/07/22/57/coffee-2608864_960_720.jpg') no-repeat center center/cover;
width:100%;
height: 55%;
z-index: auto-1;
opacity:0.3;
}

#clients{
display:flex;
justify-content:center;
align-items:center;
}

#clients img{
height: 130px;
}

.client-item{
padding: 30px;
}

/* Contact section  */
#contact{
position: relative;
}

#contact::before{
content:"";
position: absolute;
width: 100%;
height:100%;
z-index: -1;
opacity: 0.5;
background: url('https://cdn.pixabay.com/photo/2016/04/15/08/04/strawberries-1330459_960_720.jpg')    no-repeat center center/cover;
}

#contact-box{
display: flex;
justify-content: center;
align-items: center;
padding: 35px;
}

#contact-box form{
width: 40%;

}


#contact-box label{
font-size: 1rem;
font-family: 'Patua One', cursive;
}


#contact-box input{
width: 100%;
padding: 0.5rem;
border-radius: 11px;
}

#contact-box textarea{
width: 100%;
padding: 1.1rem;
border-radius: 11px;
}



footer{
background: black;
color: white;
padding: 9px 20px;

}




/* Utility classes  */
.h-primary{
font-size: 2.8rem;
padding: 14px;
font-family: 'Patua One', cursive;
}

.h-secondary{
font-size: 2rem;
padding: 12px;
font-family: 'Patua One', cursive;
}


.btn{
padding: 6px 20px;
margin: 20px 20px;
border: 2px solid white;
background-color: rgb(115, 47, 47);
color: white;
font-size: 1.3rem;
border-radius: 10px;
cursor: pointer;
}

.center{
text-align: center;
}












